In [166]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [4]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2020-10-07 10:06:56--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.152.156
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.152.156|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  58.2MB/s    in 0.3s

2020-10-07 10:06:56 (58.2 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2020-10-07 10:06:56--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.47.124
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.47.124|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  56.6MB/s    in 0.3s

2020-10-07 10:06:57 (56.6 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2020-10-07 10:06:57--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.152.156
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.152.156|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.005s

2020-10-07 10:06:57 (57.9 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2020-10-07 10:06:57--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.47.124
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.47.124|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.001s

2020-10-07 10:06:57 (51.2 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np
import gzip

In [6]:
scripts_file = gzip.open('./dw-data/201701scripts_sample.csv.gz', 'r')

In [7]:
# load the 2017 data
scripts = pd.read_csv(scripts_file)
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [19]:
practice_file = gzip.open('./dw-data/practices.csv.gz', 'r')

In [20]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv(practice_file,names= col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [213]:
chem_file = gzip.open('./dw-data/chem.csv.gz', 'r')

In [214]:
chem = pd.read_csv(chem_file)
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [23]:
summary_stats = [('items', (0,) * 6), ('quantity', (0,) * 6), ('nic', (0,) * 6), ('act_cost', (0,) * 6)]

In [37]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [26]:
stats = scripts.describe()

In [34]:
column_names = list(stats.columns)

In [39]:
summary_stats = []
for names in column_names:
    line = (names,(sum(scripts[names]),stats[names][1],stats[names][2],stats[names][4],stats[names][5],stats[names][6]))
    summary_stats.append(line)

In [40]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [ ]:
most_common_item = [("", 0)]

In [75]:
groups = scripts.groupby('bnf_name').sum()

In [81]:
groups.head()

                                          items    nic  act_cost  quantity
bnf_name
365 Film 10cm x 12cm VP Adh Film Dress        2   6.40      5.95        40
365 Non Adherent 10cm x 10cm Pfa Plas Fa      3  11.70     10.87       130
365 Non Adherent 10cm x 20cm Pfa Plas Fa      1   4.25      3.95        25
365 Non Woven Island 8cm x 10cm Adh Dres      1   0.60      0.57        10
365 Transpt Island 5cm x 7.2cm VP Adh Fi      2   7.50      6.97       150

In [79]:
most_common_item = [(groups['items'].idxmax(),groups['items'].max())]

In [80]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [82]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [122]:
practice_df = practices[['code','post_code']]

In [123]:
practice_df.sort_values(by='post_code',inplace=True)
practice_df.drop_duplicates(subset=['code'],inplace=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [124]:
practice_df.reset_index(inplace=True,drop=True)

In [125]:
practice_df.head()

     code post_code
0  E82060   AL1 3HD
1  E82031   AL1 3JB
2  E82004   AL1 4JE
3  E82002  AL10 0BS
4  Y05146  AL10 0LF

In [126]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [127]:
merge_df = scripts.merge(practice_df,how='left',left_on='practice',right_on='code')

In [128]:
merge_df.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,CH44 5UF

In [131]:
out = merge_df.groupby(['post_code','bnf_name'])[['items']].sum()

In [134]:
out_df = out.reset_index()

In [135]:
out_df.head()

  post_code                                  bnf_name  items
0   B11 4BW  3m Health Care_Cavilon Durable Barrier C      7
1   B11 4BW   3m Health Care_Cavilon No Sting Barrier      2
2   B11 4BW      Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
3   B11 4BW                                Abidec_Dps     63
4   B11 4BW                Able Spacer + Sml/Med Mask      1

In [138]:
out_df_sorted = out_df.sort_values(by=['post_code','items','bnf_name'],ascending=[True, False, True])

In [143]:
out_reindex = out_df_sorted.drop_duplicates(subset=['post_code'],keep='first').reset_index(drop=True)

In [149]:
max_df = out_df.groupby('post_code')[['items']].sum().reset_index()

In [157]:
max_df = max_df.rename(columns={'items': 'total_items'})

In [158]:
merge_out = out_reindex.merge(max_df,how='left')

In [160]:
merge_out['amount_dispensed'] = merge_out['items'] / merge_out['total_items']

In [162]:
output = merge_out[:100]

In [168]:
final_df = output[['post_code','bnf_name','amount_dispensed']]

In [172]:
arr = final_df.values.tolist()

In [173]:
items_by_region = []
for value in arr:
    items_by_region.append(tuple(value))

In [175]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [178]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

In [198]:
opioids_str = '|'.join(opioids)

In [199]:
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [206]:
#df[df["A"].str.contains("Hello|Britain")]
bool_list  = chem['NAME'].str.contains(opioids_str,case=False)

In [207]:
chem['opioid_bool'] = bool_list

In [208]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [215]:
script_chem = scripts.merge(chem,left_on='bnf_code',right_on='CHEM SUB',how='left')

In [222]:
script_chem['opioid_bool'] = (script_chem['NAME'].str.contains(opioids_str, case=False) | script_chem['bnf_name'].str.contains(opioids_str, case=False))

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [225]:
opioids_per_practice = script_chem.groupby('practice')['opioid_bool'].mean()

In [227]:
overall_rate = script_chem['opioid_bool'].mean()

In [232]:
opioids_per_practice

practice
A81005    0.033135
A81007    0.043269
A81011    0.046526
A81012    0.042761
A81017    0.038122
            ...
Y05570    0.090909
Y05583    0.000000
Y05597    0.000000
Y05660    0.023055
Y05670    0.000000
Name: opioid_bool, Length: 856, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [230]:
relative_opioids_per_practice = opioids_per_practice - overall_rate

In [231]:
relative_opioids_per_practice

practice
A81005   -0.002648
A81007    0.007486
A81011    0.010743
A81012    0.006978
A81017    0.002339
            ...
Y05570    0.055126
Y05583   -0.035783
Y05597   -0.035783
Y05660   -0.012728
Y05670   -0.035783
Name: opioid_bool, Length: 856, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [234]:
overall_opioids_std = script_chem['opioid_bool'].std()

In [235]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [238]:
bnf_practice = scripts.groupby('practice').agg({'bnf_code': 'count'}).rename(columns={'bnf_code':'bnf_sum'})

In [240]:
bnf_practice.head()

          bnf_sum
practice
A81005       1507
A81007       1454
A81011       1568
A81012       1332
A81017       2150

In [259]:
bnf_df = bnf_practice.reset_index()

In [244]:
standard_error_per_practice = overall_opioids_std / np.sqrt(bnf_practice['bnf_sum'])
opioid_scores = relative_opioids_per_practice / standard_error_per_practice

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [248]:
opioid_list = opioid_scores.reset_index(name='scores')

In [252]:
opioid_list.sort_values(by='scores',ascending=False,inplace=True)

In [253]:
opioid_final = opioid_list[:100]

In [256]:
opioid_final.reset_index(drop=True,inplace=True)

In [261]:
opioid_final_df = opioid_final.merge(bnf_df,how='left')

In [269]:
practice_names = practices[['code','name']]

In [271]:
practice_names.head()

     code                        name
0  A81001         THE DENSHAM SURGERY
1  A81002  QUEENS PARK MEDICAL CENTRE
2  A81003   VICTORIA MEDICAL PRACTICE
3  A81004      WOODLANDS ROAD SURGERY
4  A81005          SPRINGWOOD SURGERY

In [273]:
o_df = opioid_final_df.merge(practice_names,left_on='practice',right_on='code',how='left')

In [274]:
o_df.head()

  practice     scores  bnf_sum    code                             name
0   Y01852  11.699209        7  Y01852        NATIONAL ENHANCED SERVICE
1   Y03006   7.341145        2  Y03006         OUTREACH SERVICE NH / RH
2   Y03668   6.153041       60  Y03668  BRISDOC HEALTHCARE SERVICES OOH
3   G81703   5.125033       36  G81703           H&R P C SPECIAL SCHEME
4   Y04997   4.962091      321  Y04997                   HMR BARDOC OOH

In [285]:
o_df.drop_duplicates(subset=['practice'],keep='first',inplace=True)

In [286]:
o_final = o_df[['name','scores','bnf_sum']]

In [287]:
final_list = o_final.values.tolist()

In [288]:
anomalies = []
for values in final_list:
    anomalies.append(tuple(values))

In [ ]:
unique_practices = ...
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [ ]:
results.head()

In [283]:
len(anomalies)

114

In [289]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  0.9500000000000006
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [290]:
scripts_16_file = gzip.open('./dw-data/201606scripts_sample.csv.gz', 'r')

In [291]:
scripts16 = pd.read_csv(scripts_16_file)

In [311]:
growth = (scripts.bnf_name.value_counts() - scripts16.bnf_name.value_counts())/scripts16.bnf_name.value_counts()

In [312]:
growth

365 Film 10cm x 12cm VP Adh Film Dress           NaN
365 Film 15cm x 20cm VP Adh Film Dress           NaN
365 Film 4cm x 5cm VP Adh Film Dress             NaN
365 Non Adherent 10cm x 10cm Pfa Plas Fa    0.000000
365 Non Adherent 10cm x 20cm Pfa Plas Fa         NaN
                                              ...
nSpire PiKo-1 Stnd Range Peak Flow Meter   -0.500000
nSpire Pocket Peak Low Range Peak Flow M    1.000000
nSpire Pocket Peak Stnd Range Peak Flow     1.500000
oraNurse_Toothpaste Orig (1450ppm)          1.000000
palmdoc (Reagent)_Strips                    0.666667
Name: bnf_name, Length: 15424, dtype: float64

In [323]:
df = pd.DataFrame(dict(growth = growth, item16 = scripts16.bnf_name.value_counts())).reset_index()

In [324]:
df.dropna(inplace=True)

In [325]:
df.sort_values(by='growth',inplace=True)

In [326]:
df.reset_index(drop=True,inplace=True)

In [330]:
df = df[df['item16'] >= 50]

In [337]:
smallest = df[:50]
largest = df[-50:]

In [341]:
combined_df = largest.append(smallest)

In [342]:
combined_df.sort_values(by='growth',ascending=False,inplace=True)

In [344]:
combined_list = combined_df.values.tolist()

In [345]:
script_growth = []
for value in combined_list:
    script_growth.append(tuple(value))

In [ ]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [346]:
grader.score.dw__script_growth(script_growth)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [347]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [356]:
bnf_group = scripts.groupby('bnf_code')[['quantity']].count()

In [358]:
bnf_group.reset_index(inplace=True)

In [359]:
bnf_group['prob'] = bnf_group['quantity'] / sum(bnf_group['quantity'])

In [361]:
bnf_group.head()

    bnf_code  quantity      prob
0  0101010C0        34  0.000035
1  0101010F0         2  0.000002
2  0101010G0       375  0.000385
3  0101010I0        34  0.000035
4  0101010J0        41  0.000042

In [363]:
p = 1/len(scripts['bnf_code'].unique())

In [370]:
p_value = 0.1 * p

In [372]:
bnf_group['p_value'] = bnf_group['prob'] < p_value

In [376]:
rare_group = bnf_group[bnf_group['p_value'] == True]

In [377]:
rare_list = rare_group['bnf_code'].values.tolist()

In [379]:
scripts['rare'] = scripts['bnf_code'].isin(rare_list)

In [ ]:
rates = ...
rare_codes = ...
scripts['rare'] = ...

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [380]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

In [385]:
rare_cost_prop = (scripts[scripts['rare']].groupby('practice')['act_cost'].sum()/scripts.groupby('practice')['act_cost'].sum()).fillna(0)

In [386]:
rare_cost_prop

practice
A81005    0.012017
A81007    0.008381
A81011    0.005116
A81012    0.013747
A81017    0.007359
            ...
Y05570    0.000000
Y05583    0.000000
Y05597    0.000000
Y05660    0.000323
Y05670    0.000000
Name: act_cost, Length: 856, dtype: float64

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [387]:
relative_rare_cost_prop = (rare_cost_prop - scripts[scripts['rare']]['act_cost'].sum() /scripts['act_cost'].sum())

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [389]:
standard_errors = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [393]:
rare_scores = relative_rare_cost_prop/standard_errors

In [398]:
z_df = rare_scores.reset_index()

In [396]:
practices_df = practices[['code','name','post_code']]

In [400]:
z_df.head()

  practice  act_cost
0   A81005 -0.065216
1   A81007 -0.125308
2   A81011 -0.179263
3   A81012 -0.036615
4   A81017 -0.142190

In [399]:
practices_df.head()

     code                        name post_code
0  A81001         THE DENSHAM SURGERY  TS18 1HU
1  A81002  QUEENS PARK MEDICAL CENTRE  TS18 2AW
2  A81003   VICTORIA MEDICAL PRACTICE  TS26 8DB
3  A81004      WOODLANDS ROAD SURGERY   TS1 3BE
4  A81005          SPRINGWOOD SURGERY  TS14 7DJ

In [419]:
z_merge = z_df.merge(practices_df,left_on='practice',right_on='code',how='left')

In [420]:
z_merge.head()

  practice  act_cost    code                       name post_code
0   A81005 -0.065216  A81005         SPRINGWOOD SURGERY  TS14 7DJ
1   A81007 -0.125308  A81007          BANKHOUSE SURGERY  TS24 7PW
2   A81011 -0.179263  A81011          CHADWICK PRACTICE  TS24 7PW
3   A81012 -0.036615  A81012  WESTBOURNE MEDICAL CENTRE   TS3 6AL
4   A81017 -0.142190  A81017        WOODBRIDGE PRACTICE  TS17 0EE

In [421]:
z_merge.sort_values(by=['practice','name'],ascending=[True,True],inplace=True)

In [422]:
z_merge.drop_duplicates(subset=['practice'],keep='first',inplace=True)

In [423]:
z_merge.sort_values(by='act_cost',ascending=False,inplace=True)

In [424]:
values_list = z_merge[['code','name','act_cost']].values.tolist()

In [425]:
rare_scripts = []
for values in values_list:
    rare_scripts.append(tuple(values))

In [ ]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [426]:
grader.score.dw__rare_scripts(rare_scripts[:100])

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*